.calc_container {
    width: 280px;
    background-color: #13120e; 
    padding: 22px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input_wrapper {
    margin-bottom: 15px;
}

input {
    width: 93%;
    height: 50px;
    color: #0a0b0a;
    background-color: #fff; 
    border: 1px solid #100202;
    text-align: right;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 4px;
    outline: none;
}

.button_section {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 10px; 
}

button {
    height: 55px;
    background-color: #3f7679; 
    border: 1px solid #888ead;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #5daaab;
}